<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richie.multimedialearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".MultiMediaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mediacodec.CodecActivity"
            android:label="@string/title_activity_codec"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".surface.SurfaceActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".audiorecord.AudioRecordActivity" />
        <activity android:name=".audiotrack.AudioTrackActivity" />
        <activity
            android:name=".camera.CameraPreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".muxerextract.MediaMuxerExtractActivity" />
        <activity
            android:name=".mediacodec.MediaCodecActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".opengl.OpenGLActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".mediacodec.CameraOpenGlActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>